{% extends "main.html" %}
{% block content %}
<div id="content">
    <p class="fw-bold">Moje zainteresowania to:</p>
    <ul class="list-group list-group-flush bg-info p-2 text-dark bg-opacity-25">
      <li class="list-group-item bg-danger text-white bg-opacity-25">Muzyka i jej tworzenie</li>
      <li class="list-group-item bg-danger text-white bg-opacity-25">Programowanie</li>
      <li class="list-group-item bg-danger text-white bg-opacity-25">Gry planszowe, fabularne i elektroniczne</li>
      <li class="list-group-item bg-danger text-white bg-opacity-25">Gotowanie</li>
      <li class="list-group-item bg-danger text-white bg-opacity-25">Modelarstwo</li>
    </ul>
</div>
{% endblock %}