{% extends "main.html" %}
{% block content %}
<div class="bios w-50 p-3 position-absolute top-50 start-0 translate-middle-y">
    <p>
        Aktualnie mieszkam w Lublinie, z wykształcenia jestem technologiem żywności.
        W wolnych chwilach lubie oglądać filmy lub seriale, grać ze znajomymi w gry planszowe, grać na gitarze gotować lub
        czytać książki oraz komiksy, lubię tez zwiedzać przedewszystkim miasta, moim ulubionym miastem które widziałem do tej pory jest Barcelona w której byłem już dwa razy.
        Aktualnie intensytnie uczę się programowania Backendowego żeby móc zacząć się rozwijać w kierunku programisty seniora.
    </p>
    </div>
</div>
{% endblock %}