{% extends "main.html" %}
{% block content %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url "greetings" %}">Moje Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url "about_me" %}">O mnie</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "posts_list" %}">Posty</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "authors_list" %}">Autorzy</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Kontakt</a></li></li>
                    </ul>
                </div>

            </div>
        </nav>
<h3>W razie potrzeby kontaktu ze mną...</h3>
    <div id="contact" class= "w-50 p-3 position-absolute top-50 start-0 translate-middle-y">
    <p >Proszę pisać na mój mail: </p>
    <ul>
      <li>adrian_swoboda993@gmail.com</li>
    </ul>


    </div>
{% endblock %}