{% extends "main.html" %}
    {% block title %}{{ title }}{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url "greetings" %}">Moje Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'about_me' %}">O mnie</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'posts_list' %}">Posty</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'authors_list' %}">Autorzy</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Kontakt</a></li></li>
                         {% if user.is_authenticated %}
                       <li class="nav-link text-primary">
                           {{ user.username }} | <a href="{% url 'logout' %}">logout</a>
                       </li>
                        {% else %}
                       <li> class="nav-link" href="{% url 'login' %}">login</li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
<div class="sub-header">
</div>
         <h2>Użytkownicy którzy napisali posty:</h2>
    <ul>
       {% for a in authors %}
            <li><a href="{{ a.id }}/">{{ a.nick }}</a></li>
       {% endfor %}
   </ul>
            <h3>Nowy autor</h3>
        <form method="post">
               {% csrf_token %}
               {{ form.as_table }}
            <input type="submit" value="go">
        </form>

{% endblock %}