{% extends "main.html" %}
{% load bootstrap4 %}

    {% block title %}{{ title }}{% endblock %}



{% block content %}
{% bootstrap_messages %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand " href="{% url "greetings" %}">Moje Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'about_me' %}">O mnie</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'posts_list' %}">Posty</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'authors_list' %}">Autorzy</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Kontakt</a></li>
                          {% if user.is_authenticated %}
                       <li class="nav-link text-primary">
                           {{ user.username }} | <a href="{% url 'logout' %}">logout</a>
                       </li>
                        {% else %}
                       <li class="nav-link">
                           <a href="{% url 'login' %}">login
                           </a>
                       </li>
                        {% endif %}
                    </ul>
                </div>
                <form class="form-inline" action="" method="GET">
                    {{search_form.searched_title}}
                    <input type="submit" value="Szukaj posta">
                </form>
            </div>
        </nav>

<div class="sub-header">
    <div class="searcher">
        <form method = "GET">

        </form>
    </div>
</div>
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <thead>
                    <th scope="col">Posty użytkowników</th>
                    <th scope="col">Data utworzenia</th>
                    <th scope="col">Autor</th>
                    <th></th>
                    </thead>
                <tbody>
                <ul>

                   {% for p in posts %}
                    <tr>
                        <td><a href="{{ p.id }}/">{{ p.title }}</a></td>
                        <td>{{ p.created }}</a></td>
                        <td>{{ p.author.nick }}</a></td>
                       <td>
                        <a href="{% url 'edit-post'/{{p.id}} %}">
                            <input type="submit" value="Edytuj post">
                        </a>
                        </td>
                    </tr>
                   {% endfor %}

                </ul>
                </tbody>
                </table>

        <div class="pagination text-center" aria-label="Page navigation example">
           <span class="step-links ">
               <ul class="pagination">
               {% if posts.has_previous %}

               <li class="page-item">
               <a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a>
               </li>
               {% endif %}
                {% for pag in paginator.page_range %}
                   <li class="page-item">
                    <a class="page-link" href="?page={{pag}}">{{pag}} </a>
                </li>
                   {%endfor%}
               {% if posts.has_next %}
               <li class="page-item">
                   <a class="page-link" href="?page={{ posts.next_page_number }}">next</a>
               </li>

               {% endif %}
           </ul>
               <div>Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</div>
           </span>
       </div>
     </div>
            <div class="col-4">

                <h3>Nowy post</h3>
                <div class="new_post_form" >
                     {% if perms.posts.add_post %}
                  <h2>Dodaj nowy</h2>
                  <form method="POST" enctype='multipart/form-data'>
                      {% csrf_token %}
                      {% bootstrap_form form  %}
                      <input type="submit" value="Dodaj">
                  </form>
                {% else %}
                {% endif %}

    </div>
</div>


{% endblock %}