{% extends "main.html" %}
    {% block title %}{{ title }}{% endblock %}
{% block content %}

<table>
       <tr>
           <th>Title</th>
           <td>{{ post.title }}</td>
       </tr>
       <tr>
           <th>Content</th>
           <td>{{ post.content }}</td>
       </tr>
       <tr>
           <th>date of creat:</th>
           <td>{{ post.created }}</td>
       </tr>
       <tr>
           <th>fast modifiy</th>
           <td>{{ post.modified}}</td>
       </tr>
       <tr>
           <th>Author of post</th>
           <td>{{ author.nick }}</td>
       </tr>
   </table>
    <a href="/posts/">Powrót do listy komentarzy</a>

{% endblock %}